
ul{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  max-width: 1000px;

}

li{
  min-width: 200px;
  width: 30%;
  max-width: 300px;
  border: 2px solid #ccc;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

img{
  width: 100%;
  aspect-ratio: 3/2;
  border-radius: 8px;
}

li > div{
  padding: 8px;
}



