*, h4{
  margin: 0;
  margin-bottom: 0 !important;
  padding: 0;
  box-sizing: border-box;
}

a{
  color: unset;
  text-decoration: none;
}

ul{
  list-style: none;
}

h1{
  font-weight: 900;
  text-align: center;
}

small{
  color: unset;
}